
*.exe
*.dll
*.pdb
*.dll.config
*.exe.config
Debug/applets/PersonalDictionary.exe.config
.vs/PersonalDictionary/v15/.suo
.vs/PersonalDictionary/v15/Server/sqlite3/storage.ide
Debug/applets/zvsgenius_applet.dll.config
DictionaryApplet/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
.vs/PersonalDictionary/v15/Server/sqlite3/storage.ide
DictionaryApplet/obj/Debug/dictionary_applet.g.resources
DictionaryApplet/obj/Debug/DictionaryApplet.csprojResolveAssemblyReference.cache
PersonalDictionary/obj/Debug/DesignTimeResolveAssemblyReferences.cache
.vs/PersonalDictionary/v15/.suo
.vs/PersonalDictionary/v15/.suo
.vs/PersonalDictionary/v15/Server/sqlite3/storage.ide
DictionaryApplet/obj/Debug/dictionary_applet.g.resources
DictionaryApplet/obj/Debug/DictionaryApplet.csprojResolveAssemblyReference.cache
PersonalDictionary/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
PersonalDictionary/obj/Debug/PersonalDictionary.csproj.FileListAbsolute.txt
PersonalDictionary/obj/Debug/PersonalDictionary.csprojResolveAssemblyReference.cache
.vs/PersonalDictionary/v15/Server/sqlite3/storage.ide-wal
.vs/PersonalDictionary/v15/Server/sqlite3/storage.ide-shm
.vs/PersonalDictionary/v15/.suo
.vs/PersonalDictionary/v15/Server/sqlite3/storage.ide
PersonalDictionary/obj/Debug/PersonalDictionary.csproj.FileListAbsolute.txt
PersonalDictionary/obj/Debug/PersonalDictionary.csproj.CoreCompileInputs.cache
PersonalDictionary/obj/Debug/PersonalDictionary.csproj.FileListAbsolute.txt
PersonalDictionary/obj/Debug/PersonalDictionary_MarkupCompile.cache
PersonalDictionary/obj/Debug/PersonalDictionary_MarkupCompile.i.cache
DictionaryApplet/obj/Debug/DictionaryApplet.csprojResolveAssemblyReference.cache
PersonalDictionary/obj/Debug/PersonalDictionary_MarkupCompile.cache
.vs/PersonalDictionary/v14/.suo
*.xml
*.cache
DictionaryApplet/obj/Debug/DictionaryApplet.csproj.FileListAbsolute.txt
DictionaryApplet/obj/Debug/DictionaryApplet.csproj.GenerateResource.cache
DictionaryApplet/obj/Debug/DictionaryApplet.csprojResolveAssemblyReference.cache
WordTranslation/obj/Debug/WordTranslation.csproj.FileListAbsolute.txt
Debug/dic.xml
